.footer {
    width: 100vw;
    height: 45px;
    background-color: $bg-color;
    padding: 0px;
    margin: 0px;
    text-align: left;
    align-content: center;
    display: inline-block;
}

.footer-logo {
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    align-content: center;
    display: inline-block;
}

.footer-text {
    font-size: 12px;
}

.footer-link {
    text-decoration: none;
    color: #000000;
}

.footer-link:hover {
    color: #ffffff;
}