$bg-color: #fa5e4dac;

.navbar {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}

.nav-items-container {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

li[id="STORMS.jl-nav"] {
  font-weight: bolder;
  margin-right: 300px;
  margin-left: 50px;
} 

.nav-item#Home-nav,
.nav-item#Checklist-nav,
.nav-item#Flowcharts-nav {
  font-weight: bolder;
  padding-right: auto;
  padding-left: auto;
  padding-top: auto;
  padding-bottom: auto;
  
  &:hover {
    background-color: $bg-color;

    & a {
      color: #ffffff;
    }
  }
}

.nav-item a {
  text-decoration: none;

  a:hover {
    text-emphasis: none;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: $bg-color;
  list-style: none;
}

.dropdown-item {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 0;
  align-items: center;
}

.dropdown-item:hover {
  background-color: $bg-color;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.search-container {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.nav-item form {
  display: flex;
  align-items: center;
}

.nav-item input[type="search"] {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  background-color: $bg-color;
  color: #fff;
  width: 200px;
  height: 30px;

  &::placeholder {
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

.nav-item button {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  background-color: $bg-color;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
}