body {
    font-family: "Roboto-Regular", Arial, sans-serif;
}

h1 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

h2 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

h3 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

h4 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

h5 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

h6 {
    font-family: "Roboto-Bold", Arial, sans-serif;
}

p {
    font-family: "Roboto-Light", Arial, sans-serif;
}